[submodule "Haptics/haptics_common"]
	path = Haptics/haptics_common
	url = https://github.com/WheelSims/haptics_common.git
[submodule "Unity/vr_art_source"]
	path = Unity/vr_art_source
	url = https://github.com/WheelSims/vr_art_source.git
[submodule "Unity/Assets/vr_native_websocket"]
	path = Unity/Assets/vr_native_websocket
	url = https://github.com/WheelSims/vr_native_websocket.git
[submodule "InstrumentedWheels/instrumented_wheels_common"]
	path = InstrumentedWheels/instrumented_wheels_common
	url = https://github.com/WheelSims/instrumented_wheels_common.git
[submodule "Unity/Assets/vr_assets_common"]
	path = Unity/Assets/vr_assets_common
	url = https://github.com/WheelSims/vr_assets_common.git
